body {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.logo{
	margin-left: 5em;
}
div.main-body {
	display: grid;
	width: 90%;
	margin: 0 auto;
}

main#main-doc {
	margin-top: 100px !important;
}

header {
	font-size: 1.5rem;
	font-weight: bold;
}

code {
	background-color: rgb(224, 222, 222);
	display: block;
	padding: 20px;
	color: black;
	border-radius: 10px;
}


/* navbar styling */
.navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 15px 0;
	font-family: 'Ubuntu', sans-serif;
	background-color: gray;
}

.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo .a {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	margin-left: 20px;
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}

.navbar .menu li {
	margin-right: 15px;
}

.navbar .menu li a {
	display: block;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	transition: color 0.3s ease;
	text-decoration: none;
}


/* menu btn styling */
.menu-btn {
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
	margin-right: 20px;
}


@media (max-width: 964px) {
	.menu-btn {
		display: block;
		z-index: 999;
	}

	.navbar .menu {
		position: fixed;
		height: 100vh !important;
		margin-top: 0px;
		width: 100%;
		left: 100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	.d-none {
		display: none;
	}
	
	.navbar .menu.active {
		left: 0;
	}

	.navbar .menu li {
		display: block;
	}

	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 19px;
	}
}

@media screen and (max-width:1050px) {
	.navbar .menu li a {
		font-size: 15px;
	}

}
